:root{
    --text-color: #fff;
    --primary-text-color:#00AFF0;
}
body{
    font-family: -apple-system, SansSerif, Ubuntu, Cantarell, serif;
}
::selection{
    color:var(--text-color);
    background: var(--primary-text-color);
}
body::-webkit-scrollbar {
    width: 3px;
    border-radius: 3px;
}
body::-webkit-scrollbar-track {
    background: #fff;
}
body::-webkit-scrollbar-thumb {
    background: var(--primary-text-color);
    border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
    background: var(--primary-text-color);
}
ul{
    padding:0;
    list-style-type: none;
}
.container{
    max-width:1200px;
    margin:0 auto;
}
.row {
    display: flex;
    justify-content: space-around;
}
.column {
    display: flex;
    flex-direction: column;
    width:500px;
    align-items: center;
}
.column label {
    color:#000;
    font-size:25px;
    font-weight:200;
}
.column input {
    border-radius: 3px;
    margin:10px 0;
    padding: 8px;
    border: 2px solid var(--primary-text-color);
    font-size:16px;
    width:90%;
}
.column input:focus {
    outline: none;
}
.languages{
    display: flex;
    justify-content: center;
}
.languages li{
    margin:10px;
    font-weight: bold;
    cursor: pointer;
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media(max-width:1000px) {
    .container{
        width:100% !important;
    }
    .popular-list{
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .avatar{
        width:250px;
    }
}
.popular-item{
    margin:20px;
    text-align: center;
}
.space-list-items{
    margin-bottom: 7px;
}
.avatar{
    width:150px;
    border:2px solid var(--primary-text-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.font-size{
    font-size:20px;
    margin:10px;
}
.loading-text{
    color:var(--primary-text-color);
    font-size:30px;
    text-transform: uppercase;
    text-align: center;
}
.repo-url a{
    text-decoration: none !important;
    text-transform: uppercase;
    color:var(--primary-text-color);
}
a {
    text-decoration: none;
    color:var(--primary-text-color);
}
.nav{
    display: flex;
}
.nav li a{
    margin-right:15px !important;
}
.active{
    font-weight:bold;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    color:#e6e6e6;
    background: #0a0a0a;
    border:none;
    border-radius:3px;
    font-size:20px;
    width:200px;
    text-align: center;
    display: block;
    padding:7px 0;
    margin:10px auto;
}
.button:hover:enabled{
    background: linear-gradient(#0c0b0c,#0a0a0a);
    color:#fff;
    text-decoration: none;
}
.button:hover:disabled {
    background: linear-gradient(#201f20, #1d1d1d);
}
.button:active{
    transform: translateY(1px);
}
.row{
    display: flex;
    justify-content: space-around;
}
.reset{
    border:none;
    background: transparent;
    color: var(--primary-text-color);
    display:block;
    width:100%;
    text-align: center;
}
.reset:hover{
    cursor: pointer;
}